extends layout
 
block content
    h1= "Enter IP below, then press button on bridge, then click done button below"
    form(name="add-estimation", method="post")
        div.input
            span.label IP Address
            input(type="text", name="title")
        div.actions
            input(type="submit", value="Done")